* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;

}

nav {
	position: sticky;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 1rem;
	list-style-type: none;
	text-align: right;
	background-color: white;
	top: 0px;
	bottom: 10px;
}

.nav, .nav-logo {
	margin: 0.5rem;
	display: inline;
}


#logo {
	float: left;
	padding-top: 1.5rem;
	padding-left: 6rem;
}


.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	padding: 1rem;
	border-radius: 25px;
	font-size: 1rem;
	border: 0;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 23rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10% 40;
    background-position: center;
}

.front-bg {
	background-color: rgba(0,0,0,0.5);
	min-height: 23rem;
}

.container {
 	color: white;
	text-align: right;
	line-height: 2rem;
	padding-right: 6rem;
	padding-top: 1.5rem;	
 }
.title {
	font-size: 2.25rem;
	padding-left: 65%;
	font-family: Zilla Slab;
	font-weight: bolder;
}
.subtitle {
	font-size: 1rem;
	padding-top: 1rem;
	padding-left: 75%;
	padding-bottom: 1.5rem;
	font-weight: normal;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	padding: 0.75rem 2rem;
	font-size: 1rem;
	border: 0;
	border-radius: 25px;
}

.title-2 {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 2rem;
	font-family: Zilla Slab;
	font-weight: bolder;
}

.intro {
	margin-bottom: 6rem;
	margin-top: 2rem;
	background-color: white;
}


.intro-description {
	padding-top: 3rem;
	padding-left: 20%;
	padding-right: 20%
}
.pre-footer {
	background-color: #f7fbfb;
	padding-top: 2rem; 
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
	padding-bottom: 5rem;
}

.book-button {
	background-color: #336589;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	border: 0;
	padding: 0.5rem 2.3rem;
	display: grid;
	margin: auto;
	border-radius: 25px;
	margin-top: 2rem;
}

footer {
	text-align: center;
	padding-top: 3rem;
}
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}